*{
    font-family: arial;
}

body{
    margin: 0;
    
}

.header {
    width: 100%;
    height: 70px;
    background-color: #000;
    border-bottom:3px #32b0cd solid;
}

h1{
    color: #32b0cd;
}

ul{
    width: 40%;
    list-style: none; 
    display: flex;   
    justify-content: space-around;
    color: #e3b062;
}

.conteiner{
    width: 80%;
    margin: auto;
    display: flex;
    
}

.header .conteiner{
    justify-content: space-between;
    align-items: center;

}

li {
    color: #e3b062;
}

a {
    text-decoration: none;
    color: #e3b062;
}

.banner{
    width: 100%;
    height: 500px;
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    color: #fff;

}

.banner .conteiner{
    height: 100%;
    justify-content: center;
    align-items: center;
}

p {
    width: 250px;
    font-size: 35px;
}

span {
font-weight: 800;
}

.social .conteiner{
    justify-content: space-around;
}

.social .conteiner img{
    width: 250px;
    height: 250px;
}

.conteiner .card {
    background-color: #cdcdcd;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}