*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;

}

/* Início do Container */
.container{
    display: flex;
    margin: auto;
    width: 80%;
}


/* Início do Header */
.header{
    width: 100%;
    background-color: black;
    border-bottom: 3px solid #32a7b1;
}
.header h1{
    color: #32a7b1;
}

.header .container{
    align-items: center;
    justify-content: space-between;
}
.navBar{
    color: #b58d5b;
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

/* Início do Banner */
.banner{
    width: 100%;
    height: 450px;
    background-image: url(../img/bg-jelly-fish-para_outras_pags.png);
}
.banner .container{
    height: 100%;
    justify-content: center;
    align-items: center;
}
.banner .container p{
    font-size: 30px;
    color: #f4f2f3;
    width: 180px;
}
p span{
    font-weight: 700;
}


/* Início do Social */
.social{
    width: 100%;
    background-color: #cdcdcd;
}
.container img{
    width: 150px;
    height: 150px;
}
.social .container{
    justify-content: space-evenly;
    padding: 20px 5px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card h1{
    color: #094C56;
}


/* Início do Footer */
.footer{
    width: 100%;
    background-color: #32a7b1;
    color: #f4f2f3;
}
.footer .container{
    justify-content: center;
    height: 150px;
    align-items: center;
}

