.form{
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    color: #094C56;
    border-radius: 15px;
}
.form1{
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    color: #094C56;
    border-radius: 15px;
}
.form1 h1{
    border: 0;
    padding: 0;
    margin: 8px;
}

.label{
    font-size: 18px;
}
input{
    border: solid 1px #2397a1;
    border-radius: 17px;
    padding: 5px;
    margin-bottom: 3px;
    text-align: center;
}
button{
    background-color: #094C56;
    color: #f4f2f3;
    border: 0;
    padding: 10px;
    width: 115px;
    border-radius: 15px;
}
.form button{
    display: flex;
    justify-content: center;
}